<!DOCTYPE html>
<html>
  <head>
    <title>Weather API></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Welcome to your weather API!</h1>
    <p>
    {
<br></br>
  “Temp”:90.5,
<br></br>
  “Unit”: “fahrenheit”,
<br></br>
  “Cloudy”:false,
<br></br>
  “PrecipitationChance”:0
  <br></br>
}
    </p>
  </body>
</html>
